<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartHotel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FlightTicketCralwer</display-name>
    <servlet-name>FlightTicketCralwer</servlet-name>
    <servlet-class>com.smtl.crawler.controller.FlightTicketCralwer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightTicketCralwer</servlet-name>
    <url-pattern>/FlightTicketCralwer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SUserRegister</display-name>
    <servlet-name>SUserRegister</servlet-name>
    <servlet-class>com.smtl.fweb.controller.SUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUserRegister</servlet-name>
    <url-pattern>/frontWeb/SUserRegister</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FWebFilter</display-name>
    <filter-name>FWebFilter</filter-name>
    <filter-class>com.smtl.fweb.filter.FWebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FWebFilter</filter-name>
    <url-pattern>/frontWeb/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SUserLogin</display-name>
    <servlet-name>SUserLogin</servlet-name>
    <servlet-class>com.smtl.fweb.controller.SUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SUserLogin</servlet-name>
    <url-pattern>/frontWeb/SUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppUserLogin</display-name>
    <servlet-name>AppUserLogin</servlet-name>
    <servlet-class>com.smtl.app.api.AppUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppUserLogin</servlet-name>
    <url-pattern>/app/AppUserLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AppFilter</display-name>
    <filter-name>AppFilter</filter-name>
    <filter-class>com.smtl.app.filter.AppFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AppFilter</filter-name>
    <url-pattern>/app/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CusCallAction</display-name>
    <servlet-name>CusCallAction</servlet-name>
    <servlet-class>com.smtl.mweb.controller.CusCallAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusCallAction</servlet-name>
    <url-pattern>/CusCallAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MWebFilter</display-name>
    <filter-name>MWebFilter</filter-name>
    <filter-class>com.smtl.mweb.filter.MWebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MWebFilter</filter-name>
    <url-pattern>/CusCallAction</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MWebFilter</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MWebFilter</filter-name>
    <url-pattern>/hotelService_test.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.smtl.mweb.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consult</display-name>
    <servlet-name>Consult</servlet-name>
    <servlet-class>com.smtl.fweb.controller.Consult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consult</servlet-name>
    <url-pattern>/Consult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectTest</display-name>
    <servlet-name>ConnectTest</servlet-name>
    <servlet-class>com.smtl.app.api.ConnectTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectTest</servlet-name>
    <url-pattern>/app/ConnectTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CusCallList</display-name>
    <servlet-name>CusCallList</servlet-name>
    <servlet-class>com.smtl.app.api.CusCallList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusCallList</servlet-name>
    <url-pattern>/app/CusCallList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.smtl.app.api.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/app/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyConsult</display-name>
    <servlet-name>ReplyConsult</servlet-name>
    <servlet-class>com.smtl.fweb.controller.ReplyConsult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyConsult</servlet-name>
    <url-pattern>/ReplyConsult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>openRoom</display-name>
    <servlet-name>openRoom</servlet-name>
    <servlet-class>com.smtl.fweb.controller.openRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>openRoom</servlet-name>
    <url-pattern>/openRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptCall</display-name>
    <servlet-name>AcceptCall</servlet-name>
    <servlet-class>com.smtl.app.api.AcceptCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptCall</servlet-name>
    <url-pattern>/app/AcceptCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallInfo</display-name>
    <servlet-name>CallInfo</servlet-name>
    <servlet-class>com.smtl.app.api.CallInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallInfo</servlet-name>
    <url-pattern>/app/CallInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteCall</display-name>
    <servlet-name>CompleteCall</servlet-name>
    <servlet-class>com.smtl.app.api.CompleteCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteCall</servlet-name>
    <url-pattern>/app/CompleteCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToBeCompleteCalls</display-name>
    <servlet-name>ToBeCompleteCalls</servlet-name>
    <servlet-class>com.smtl.app.api.ToBeCompleteCalls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToBeCompleteCalls</servlet-name>
    <url-pattern>/app/ToBeCompleteCalls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsLogin</display-name>
    <servlet-name>IsLogin</servlet-name>
    <servlet-class>com.smtl.app.api.IsLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsLogin</servlet-name>
    <url-pattern>/app/IsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetConsult</display-name>
    <servlet-name>GetConsult</servlet-name>
    <servlet-class>com.smtl.fweb.controller.GetConsult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetConsult</servlet-name>
    <url-pattern>/GetConsult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>com.smtl.fweb.controller.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
</web-app>